# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
import json
import numpy as np
from sql_queries import *

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [4]:
song_files = get_files('data/song_data')

In [5]:
filepath = song_files[0]
print(filepath)

/home/workspace/data/song_data/A/B/B/TRABBLU128F93349CF.json

In [6]:
df = pd.read_json(filepath, lines=True)
print(df)

            artist_id  artist_latitude artist_location  artist_longitude  \
0  ARNNKDK1187B98BBD5         45.80726  Zagreb Croatia           15.9676

  artist_name   duration  num_songs             song_id  \
0        Jinx  407.37914          1  SOFNOQK12AB01840FC

                         title  year
0  Kutt Free (DJ Volume Remix)     0

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [7]:
song_data = list(df.loc[:,["song_id","title", "artist_id", "year","duration"]].values[0])
song_data

['SOFNOQK12AB01840FC',
 'Kutt Free (DJ Volume Remix)',
 'ARNNKDK1187B98BBD5',
 0,
 407.37914]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [8]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [9]:
artist_data = list(df.loc[:,["artist_id","artist_name", "artist_location", "artist_latitude","artist_longitude"]].values[0])
artist_data

['ARNNKDK1187B98BBD5', 'Jinx', 'Zagreb Croatia', 45.80726, 15.967600000000001]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [10]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [11]:
log_files = get_files('data/log_data')

In [12]:
filepath = log_files[0]
print(filepath)

/home/workspace/data/log_data/2018/11/2018-11-29-events.json

In [13]:
df = pd.read_json(filepath, lines=True)
print(df)

                             artist       auth firstName gender  \
0                 Sydney Youngblood  Logged In     Jacob      M
1                        Gang Starr  Logged In     Layla      F
2                             3OH!3  Logged In     Layla      F
3                       RÃÂ¶yksopp  Logged In     Jacob      M
4                        Kajagoogoo  Logged In     Layla      F
5            The Jimmy Castor Bunch  Logged In     Layla      F
6                          Ministry  Logged In     Jacob      M
7                    Bouncing Souls  Logged In     Jacob      M
8                    Tegan And Sara  Logged In     Layla      F
9                       Silverchair  Logged In     Layla      F
10                           Enigma  Logged In     Layla      F
11                             Anis  Logged In     Layla      F
12                             Seal  Logged In     Layla      F
13           UNKLE Feat. Josh Homme  Logged In     Layla      F
14                    Dwight Yoakam  Logged In     Layla      F
15                         Elastica  Logged In     Layla      F
16                 Capone-N-Noreaga  Logged In     Layla      F
17                       Morris Day  Logged In     Layla      F
18                     Foo Fighters  Logged In     Layla      F
19                            Olive  Logged In     Layla      F
20                   Olle Adolphson  Logged In     Layla      F
21            Streetlight Manifesto  Logged In       Ava      F
22                      Frank Reyes  Logged In     Layla      F
23                  Andres Calamaro  Logged In     Layla      F
24                           Zero 7  Logged In     Layla      F
25    Mark Ronson featuring Tiggers  Logged In     Layla      F
26                      Keith Sweat  Logged In     Layla      F
27                     Wakey!Wakey!  Logged In     Layla      F
28              The Mercury Program  Logged In     Layla      F
29   Kid Cudi / Kanye West / Common  Logged In     Layla      F
..                              ...        ...       ...    ...
336                       Radiohead  Logged In     Tegan      F
337                       Fightstar  Logged In     Wyatt      M
338                      Hoobastank  Logged In     Tegan      F
339                     Bright Eyes  Logged In     Tegan      F
340                    Procol Harum  Logged In     Tegan      F
341                       Radiohead  Logged In     Tegan      F
342                 Alliance Ethnik  Logged In     Tegan      F
343                            Muse  Logged In     Tegan      F
344                           Steps  Logged In     Tegan      F
345                      John Mayer  Logged In     Tegan      F
346                   Kings Of Leon  Logged In      Sean      F
347                      David Gray  Logged In     Tegan      F
348                      King Stitt  Logged In      Sean      F
349                        Tub Ring  Logged In     Tegan      F
350                             Era  Logged In     Tegan      F
351                            None  Logged In     Tegan      F
352              + / - {Plus/Minus}  Logged In     Tegan      F
353                 Crystal Castles  Logged In     Tegan      F
354           The Whitest Boy Alive  Logged In     Tegan      F
355               The White Stripes  Logged In     Tegan      F
356                     Furthermore  Logged In     Tegan      F
357                Eminem / Bizarre  Logged In     Tegan      F
358          Florence + The Machine  Logged In     Tegan      F
359                     Soda Stereo  Logged In    Braden      M
360                    Taylor Swift  Logged In     Tegan      F
361                            None  Logged In     Tegan      F
362                       Pearl Jam  Logged In     Tegan      F
363                 The 2 Live Crew  Logged In     Tegan      F
364                             311  Logged In     Tegan      F
365              Light Of The World  Logged In   Kynnedi      F

     itemInSession  lastName     length level  \
0               53     Klein  238.07955  paid
1               88   Griffin  151.92771  paid
2               89   Griffin  192.52200  paid
3               54     Klein  369.81506  paid
4               90   Griffin  223.55546  paid
5               91   Griffin  306.54649  paid
6               55     Klein  186.69669  paid
7               56     Klein  117.31546  paid
8               92   Griffin  129.67138  paid
9               93   Griffin  242.96444  paid
10              94   Griffin  242.78159  paid
11              95   Griffin  278.12526  paid
12              96   Griffin  254.06649  paid
13              97   Griffin  307.19955  paid
14              98   Griffin  239.30730  paid
15              99   Griffin  141.92281  paid
16             100   Griffin  194.82077  paid
17             101   Griffin  442.46159  paid
18             102   Griffin  302.91546  paid
19             103   Griffin  264.12363  paid
20             104   Griffin  202.39628  paid
21               0  Robinson  303.33342  free
22             105   Griffin  239.67302  paid
23             106   Griffin  217.54730  paid
24             107   Griffin  279.56200  paid
25             108   Griffin  245.18485  paid
26             109   Griffin  295.78404  paid
27             110   Griffin  145.03138  paid
28             111   Griffin  292.36200  paid
29             112   Griffin  237.76608  paid
..             ...       ...        ...   ...
336             16    Levine  223.00689  paid
337              1     Scott  212.61016  free
338             17    Levine  242.78159  paid
339             18    Levine  279.87546  paid
340             19    Levine  368.56118  paid
341             20    Levine  259.29098  paid
342             21    Levine  195.94404  paid
343             22    Levine  365.45261  paid
344             23    Levine  201.76934  paid
345             24    Levine  198.19057  paid
346              0    Wilson  201.79546  free
347             25    Levine  263.33995  paid
348              1    Wilson  176.27383  free
349             26    Levine  233.69098  paid
350             27    Levine  200.56771  paid
351             28    Levine        NaN  paid
352             29    Levine  318.98077  paid
353             30    Levine  175.51628  paid
354             31    Levine  234.57914  paid
355             32    Levine  194.48118  paid
356             33    Levine  211.69587  paid
357             34    Levine  244.55791  paid
358             35    Levine  185.31220  paid
359              0    Parker  316.73424  free
360             36    Levine  230.47791  paid
361             37    Levine        NaN  paid
362             38    Levine  283.89832  paid
363             39    Levine  188.31628  paid
364             40    Levine  113.26649  paid
365              0   Sanchez  207.07220  free

                                        location method      page  \
0            Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong
1                   Lake Havasu City-Kingman, AZ    PUT  NextSong
2                   Lake Havasu City-Kingman, AZ    PUT  NextSong
3            Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong
4                   Lake Havasu City-Kingman, AZ    PUT  NextSong
5                   Lake Havasu City-Kingman, AZ    PUT  NextSong
6            Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong
7            Tampa-St. Petersburg-Clearwater, FL    PUT  NextSong
8                   Lake Havasu City-Kingman, AZ    PUT  NextSong
9                   Lake Havasu City-Kingman, AZ    PUT  NextSong
10                  Lake Havasu City-Kingman, AZ    PUT  NextSong
11                  Lake Havasu City-Kingman, AZ    PUT  NextSong
12                  Lake Havasu City-Kingman, AZ    PUT  NextSong
13                  Lake Havasu City-Kingman, AZ    PUT  NextSong
14                  Lake Havasu City-Kingman, AZ    PUT  NextSong
15                  Lake Havasu City-Kingman, AZ    PUT  NextSong
16                  Lake Havasu City-Kingman, AZ    PUT  NextSong
17                  Lake Havasu City-Kingman, AZ    PUT  NextSong
18                  Lake Havasu City-Kingman, AZ    PUT  NextSong
19                  Lake Havasu City-Kingman, AZ    PUT  NextSong
20                  Lake Havasu City-Kingman, AZ    PUT  NextSong
21                         New Haven-Milford, CT    PUT  NextSong
22                  Lake Havasu City-Kingman, AZ    PUT  NextSong
23                  Lake Havasu City-Kingman, AZ    PUT  NextSong
24                  Lake Havasu City-Kingman, AZ    PUT  NextSong
25                  Lake Havasu City-Kingman, AZ    PUT  NextSong
26                  Lake Havasu City-Kingman, AZ    PUT  NextSong
27                  Lake Havasu City-Kingman, AZ    PUT  NextSong
28                  Lake Havasu City-Kingman, AZ    PUT  NextSong
29                  Lake Havasu City-Kingman, AZ    PUT  NextSong
..                                           ...    ...       ...
336                  Portland-South Portland, ME    PUT  NextSong
337                    Eureka-Arcata-Fortuna, CA    PUT  NextSong
338                  Portland-South Portland, ME    PUT  NextSong
339                  Portland-South Portland, ME    PUT  NextSong
340                  Portland-South Portland, ME    PUT  NextSong
341                  Portland-South Portland, ME    PUT  NextSong
342                  Portland-South Portland, ME    PUT  NextSong
343                  Portland-South Portland, ME    PUT  NextSong
344                  Portland-South Portland, ME    PUT  NextSong
345                  Portland-South Portland, ME    PUT  NextSong
346  Philadelphia-Camden-Wilmington, PA-NJ-DE-MD    PUT  NextSong
347                  Portland-South Portland, ME    PUT  NextSong
348  Philadelphia-Camden-Wilmington, PA-NJ-DE-MD    PUT  NextSong
349                  Portland-South Portland, ME    PUT  NextSong
350                  Portland-South Portland, ME    PUT  NextSong
351                  Portland-South Portland, ME    GET      Home
352                  Portland-South Portland, ME    PUT  NextSong
353                  Portland-South Portland, ME    PUT  NextSong
354                  Portland-South Portland, ME    PUT  NextSong
355                  Portland-South Portland, ME    PUT  NextSong
356                  Portland-South Portland, ME    PUT  NextSong
357                  Portland-South Portland, ME    PUT  NextSong
358                  Portland-South Portland, ME    PUT  NextSong
359            Youngstown-Warren-Boardman, OH-PA    PUT  NextSong
360                  Portland-South Portland, ME    PUT  NextSong
361                  Portland-South Portland, ME    GET      Home
362                  Portland-South Portland, ME    PUT  NextSong
363                  Portland-South Portland, ME    PUT  NextSong
364                  Portland-South Portland, ME    PUT  NextSong
365                             Cedar Rapids, IA    PUT  NextSong

     registration  sessionId  \
0    1.540558e+12        954
1    1.541057e+12        984
2    1.541057e+12        984
3    1.540558e+12        954
4    1.541057e+12        984
5    1.541057e+12        984
6    1.540558e+12        954
7    1.540558e+12        954
8    1.541057e+12        984
9    1.541057e+12        984
10   1.541057e+12        984
11   1.541057e+12        984
12   1.541057e+12        984
13   1.541057e+12        984
14   1.541057e+12        984
15   1.541057e+12        984
16   1.541057e+12        984
17   1.541057e+12        984
18   1.541057e+12        984
19   1.541057e+12        984
20   1.541057e+12        984
21   1.540932e+12       1011
22   1.541057e+12        984
23   1.541057e+12        984
24   1.541057e+12        984
25   1.541057e+12        984
26   1.541057e+12        984
27   1.541057e+12        984
28   1.541057e+12        984
29   1.541057e+12        984
..            ...        ...
336  1.540794e+12       1065
337  1.540872e+12       1010
338  1.540794e+12       1065
339  1.540794e+12       1065
340  1.540794e+12       1065
341  1.540794e+12       1065
342  1.540794e+12       1065
343  1.540794e+12       1065
344  1.540794e+12       1065
345  1.540794e+12       1065
346  1.540370e+12         21
347  1.540794e+12       1065
348  1.540370e+12         21
349  1.540794e+12       1065
350  1.540794e+12       1065
351  1.540794e+12       1065
352  1.540794e+12       1065
353  1.540794e+12       1065
354  1.540794e+12       1065
355  1.540794e+12       1065
356  1.540794e+12       1065
357  1.540794e+12       1065
358  1.540794e+12       1065
359  1.540999e+12       1007
360  1.540794e+12       1065
361  1.540794e+12       1065
362  1.540794e+12       1065
363  1.540794e+12       1065
364  1.540794e+12       1065
365  1.541079e+12       1029

                                                  song  status             ts  \
0                                    Ain't No Sunshine     200  1543449657796
1                           My Advice 2 You (Explicit)     200  1543449690796
2          My First Kiss (Feat. Ke$ha) [Album Version]     200  1543449841796
3                               The Girl and The Robot     200  1543449895796
4                                              Too Shy     200  1543450033796
5                                            Potential     200  1543450256796
6            The Great Satan (What Would Satan Do Mix)     200  1543450264796
7                                         The Screamer     200  1543450450796
8                       Knife Going In (Album Version)     200  1543450562796
9                    The Greatest View (Album Version)     200  1543450691796
10         T.N.T. For The Brain (112 Bpm) (Radio Edit)     200  1543450933796
11                                        Mon MÃÂ©tro     200  1543451175796
12                                   Fly Like An Eagle     200  1543451453796
13                                            Restless     200  1543451707796
14                                      You're The One     200  1543452014796
15                                                Blue     200  1543452253796
16                                          Channel 10     200  1543452394796
17                        The Oak Tree (Album Version)     200  1543452588796
18                                       What If I Do?     200  1543453030796
19                                    You're Not Alone     200  1543453332796
20              En Glad Calypso Om VÃÂ¥ren (Live '62)     200  1543453596796
21   Down_ Down_ Down To Mehphisto's Cafe (Album Ve...     200  1543453763796
22                                       Tu Eres Ajena     200  1543453798796
23                                      Estadio Azteca     200  1543454037796
24                                             Sleeper     200  1543454254796
25                                               Toxic     200  1543454533796
26          Merry Go Round (Remastered Single Version)     200  1543454778796
27                               Square Peg Round Hole     200  1543455073796
28                                               Eqypt     200  1543455218796
29                                        Make Her Say     200  1543455510796
..                                                 ...     ...            ...
336                                               Sulk     200  1543527265796
337                                    The English Way     200  1543527268796
338                                     To Be With You     200  1543527488796
339                         Poison Oak (Album Version)     200  1543527730796
340                                        Grand Hotel     200  1543528009796
341                                       Planet Telex     200  1543528377796
342                           SinceritÃÂ© Et Jalousie     200  1543528636796
343                                           New Born     200  1543528831796
344                                         5_ 6_ 7_ 8     200  1543529196796
345                                  The Heart Of Life     200  1543529397796
346                                            Revelry     200  1543529417796
347                                      Draw The Line     200  1543529595796
348                   The Ugly One (AKA Lee Van Cleef)     200  1543529618796
349                                            Invalid     200  1543529858796
350                                      Cathar Rhythm     200  1543530091796
351                                               None     200  1543530350796
352                               The Queen of Nothing     200  1543530451796
353                                          Good Time     200  1543530769796
354                                            Figures     200  1543530944796
355                                         Bone Broke     200  1543531178796
356                                Are You The Walrus?     200  1543531372796
357                                         Amityville     200  1543531583796
358                         I'm Not Calling You A Liar     200  1543531827796
359                                             Signos     200  1543531878796
360                                 You Belong With Me     200  1543532012796
361                                               None     200  1543532195796
362                                     Rearviewmirror     200  1543532242796
363                                        Me So Horny     200  1543532525796
364                                               Loco     200  1543532713796
365  Midnight Groovin' (7" Version) (2006 Digital R...     200  1543533515796

                                             userAgent userId
0    "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
1    "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
2    "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
3    "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
4    "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
5    "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
6    "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
7    "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     73
8    "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
9    "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
10   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
11   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
12   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
13   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
14   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
15   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
16   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
17   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
18   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
19   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
20   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
21   "Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...     50
22   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
23   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
24   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
25   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
26   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
27   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
28   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
29   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...     24
..                                                 ...    ...
336  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     80
337  Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7....      9
338  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     80
339  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     80
340  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     80
341  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     80
342  "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...     80

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [14]:
df = df[df['page'] == 'NextSong']
df.size
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Sydney Youngblood,Logged In,Jacob,M,53,Klein,238.07955,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,Ain't No Sunshine,200,1543449657796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
1,Gang Starr,Logged In,Layla,F,88,Griffin,151.92771,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My Advice 2 You (Explicit),200,1543449690796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
2,3OH!3,Logged In,Layla,F,89,Griffin,192.52200,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My First Kiss (Feat. Ke$ha) [Album Version],200,1543449841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
3,RÃÂ¶yksopp,Logged In,Jacob,M,54,Klein,369.81506,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,The Girl and The Robot,200,1543449895796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Kajagoogoo,Logged In,Layla,F,90,Griffin,223.55546,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Too Shy,200,1543450033796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24

In [15]:
t = pd.to_datetime(df['ts'], unit='ms')
t.size
t.head()

0   2018-11-29 00:00:57.796
1   2018-11-29 00:01:30.796
2   2018-11-29 00:04:01.796
3   2018-11-29 00:04:55.796
4   2018-11-29 00:07:13.796
Name: ts, dtype: datetime64[ns]

In [16]:
time_data = [t, t.dt.hour, t.dt.day, t.dt.week, t.dt.month, t.dt.year, t.dt.weekday]
column_labels = ['start_time', 'hour', 'day', 'week', 'month', 'year', 'weekday']

In [17]:
time_df = pd.DataFrame(dict(zip(column_labels,time_data)),columns=column_labels).reset_index(drop=True)
print(time_df)

                 start_time  hour  day  week  month  year  weekday
0   2018-11-29 00:00:57.796     0   29    48     11  2018        3
1   2018-11-29 00:01:30.796     0   29    48     11  2018        3
2   2018-11-29 00:04:01.796     0   29    48     11  2018        3
3   2018-11-29 00:04:55.796     0   29    48     11  2018        3
4   2018-11-29 00:07:13.796     0   29    48     11  2018        3
5   2018-11-29 00:10:56.796     0   29    48     11  2018        3
6   2018-11-29 00:11:04.796     0   29    48     11  2018        3
7   2018-11-29 00:14:10.796     0   29    48     11  2018        3
8   2018-11-29 00:16:02.796     0   29    48     11  2018        3
9   2018-11-29 00:18:11.796     0   29    48     11  2018        3
10  2018-11-29 00:22:13.796     0   29    48     11  2018        3
11  2018-11-29 00:26:15.796     0   29    48     11  2018        3
12  2018-11-29 00:30:53.796     0   29    48     11  2018        3
13  2018-11-29 00:35:07.796     0   29    48     11  2018        3
14  2018-11-29 00:40:14.796     0   29    48     11  2018        3
15  2018-11-29 00:44:13.796     0   29    48     11  2018        3
16  2018-11-29 00:46:34.796     0   29    48     11  2018        3
17  2018-11-29 00:49:48.796     0   29    48     11  2018        3
18  2018-11-29 00:57:10.796     0   29    48     11  2018        3
19  2018-11-29 01:02:12.796     1   29    48     11  2018        3
20  2018-11-29 01:06:36.796     1   29    48     11  2018        3
21  2018-11-29 01:09:23.796     1   29    48     11  2018        3
22  2018-11-29 01:09:58.796     1   29    48     11  2018        3
23  2018-11-29 01:13:57.796     1   29    48     11  2018        3
24  2018-11-29 01:17:34.796     1   29    48     11  2018        3
25  2018-11-29 01:22:13.796     1   29    48     11  2018        3
26  2018-11-29 01:26:18.796     1   29    48     11  2018        3
27  2018-11-29 01:31:13.796     1   29    48     11  2018        3
28  2018-11-29 01:33:38.796     1   29    48     11  2018        3
29  2018-11-29 01:38:30.796     1   29    48     11  2018        3
..                      ...   ...  ...   ...    ...   ...      ...
289 2018-11-29 21:30:47.796    21   29    48     11  2018        3
290 2018-11-29 21:31:34.796    21   29    48     11  2018        3
291 2018-11-29 21:34:25.796    21   29    48     11  2018        3
292 2018-11-29 21:34:28.796    21   29    48     11  2018        3
293 2018-11-29 21:38:08.796    21   29    48     11  2018        3
294 2018-11-29 21:42:10.796    21   29    48     11  2018        3
295 2018-11-29 21:46:49.796    21   29    48     11  2018        3
296 2018-11-29 21:52:57.796    21   29    48     11  2018        3
297 2018-11-29 21:57:16.796    21   29    48     11  2018        3
298 2018-11-29 22:00:31.796    22   29    48     11  2018        3
299 2018-11-29 22:06:36.796    22   29    48     11  2018        3
300 2018-11-29 22:09:57.796    22   29    48     11  2018        3
301 2018-11-29 22:10:17.796    22   29    48     11  2018        3
302 2018-11-29 22:13:15.796    22   29    48     11  2018        3
303 2018-11-29 22:13:38.796    22   29    48     11  2018        3
304 2018-11-29 22:17:38.796    22   29    48     11  2018        3
305 2018-11-29 22:21:31.796    22   29    48     11  2018        3
306 2018-11-29 22:27:31.796    22   29    48     11  2018        3
307 2018-11-29 22:32:49.796    22   29    48     11  2018        3
308 2018-11-29 22:35:44.796    22   29    48     11  2018        3
309 2018-11-29 22:39:38.796    22   29    48     11  2018        3
310 2018-11-29 22:42:52.796    22   29    48     11  2018        3
311 2018-11-29 22:46:23.796    22   29    48     11  2018        3
312 2018-11-29 22:50:27.796    22   29    48     11  2018        3
313 2018-11-29 22:51:18.796    22   29    48     11  2018        3
314 2018-11-29 22:53:32.796    22   29    48     11  2018        3
315 2018-11-29 22:57:22.796    22   29    48     11  2018        3
316 2018-11-29 23:02:05.796    23   29    48     11  2018        3
317 2018-11-29 23:05:13.796    23   29    48     11  2018        3
318 2018-11-29 23:18:35.796    23   29    48     11  2018        3

[319 rows x 7 columns]

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [18]:
for i, rows in time_df.iterrows():
    cur.execute(time_table_insert, list(rows))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [19]:
user_df = pd.DataFrame(df[["userId","firstName", "lastName", "gender","level"]])
user_df

    userId firstName  lastName gender level
0       73     Jacob     Klein      M  paid
1       24     Layla   Griffin      F  paid
2       24     Layla   Griffin      F  paid
3       73     Jacob     Klein      M  paid
4       24     Layla   Griffin      F  paid
5       24     Layla   Griffin      F  paid
6       73     Jacob     Klein      M  paid
7       73     Jacob     Klein      M  paid
8       24     Layla   Griffin      F  paid
9       24     Layla   Griffin      F  paid
10      24     Layla   Griffin      F  paid
11      24     Layla   Griffin      F  paid
12      24     Layla   Griffin      F  paid
13      24     Layla   Griffin      F  paid
14      24     Layla   Griffin      F  paid
15      24     Layla   Griffin      F  paid
16      24     Layla   Griffin      F  paid
17      24     Layla   Griffin      F  paid
18      24     Layla   Griffin      F  paid
19      24     Layla   Griffin      F  paid
20      24     Layla   Griffin      F  paid
21      50       Ava  Robinson      F  free
22      24     Layla   Griffin      F  paid
23      24     Layla   Griffin      F  paid
24      24     Layla   Griffin      F  paid
25      24     Layla   Griffin      F  paid
26      24     Layla   Griffin      F  paid
27      24     Layla   Griffin      F  paid
28      24     Layla   Griffin      F  paid
29      24     Layla   Griffin      F  paid
..     ...       ...       ...    ...   ...
333     80     Tegan    Levine      F  paid
334     49     Chloe    Cuevas      F  paid
336     80     Tegan    Levine      F  paid
337      9     Wyatt     Scott      M  free
338     80     Tegan    Levine      F  paid
339     80     Tegan    Levine      F  paid
340     80     Tegan    Levine      F  paid
341     80     Tegan    Levine      F  paid
342     80     Tegan    Levine      F  paid
343     80     Tegan    Levine      F  paid
344     80     Tegan    Levine      F  paid
345     80     Tegan    Levine      F  paid
346     22      Sean    Wilson      F  free
347     80     Tegan    Levine      F  paid
348     22      Sean    Wilson      F  free
349     80     Tegan    Levine      F  paid
350     80     Tegan    Levine      F  paid
352     80     Tegan    Levine      F  paid
353     80     Tegan    Levine      F  paid
354     80     Tegan    Levine      F  paid
355     80     Tegan    Levine      F  paid
356     80     Tegan    Levine      F  paid
357     80     Tegan    Levine      F  paid
358     80     Tegan    Levine      F  paid
359     74    Braden    Parker      M  free
360     80     Tegan    Levine      F  paid
362     80     Tegan    Levine      F  paid
363     80     Tegan    Levine      F  paid
364     80     Tegan    Levine      F  paid
365     89   Kynnedi   Sanchez      F  free

[319 rows x 5 columns]

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [20]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [21]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
    songplay_data = (pd.to_datetime(row.ts, unit='ms'),row.userId,row.level,song_id,artist_id,row.sessionId,row.location,row.userAgent)
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [22]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.

NameError: name 'etl' is not defined